<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />
    <link href="../static/js/main.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../static/js/main.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
      $(function() {
      var content = $('#search').val();
        $('#search').keyup(function() { 
            if ($('#search').val() != content) {
                content = $('#search').val();
                

                const Http = new XMLHttpRequest();
                const url='https://httpbin.org/anything';
                Http.open("POST", url);
                
                Http.send(content);
            
                Http.onreadystatechange = (e) => {
                  //alert(Http.responseText);
                  var values = ["1", "2", "3", "4"];

                  var select = document.getElementById('suggest');

                  select.empty();

                  for (const val of values) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val.charAt(0).toUpperCase() + val.slice(1);
                    select.appendChild(option);
                  }
                }
            }
        });
      });
    </script>  
  </head>
  <body>
    <div class="s010">
      <form action="" method="post" id="search-form">
        {{search_form.csrf_token}}
        <div class="inner-form">
          <div class="basic-search">
            <div id="result" class="input-field">
              {{search_form.Key(id="search", placeholder="Type Keywords")}}
              <div class="icon-wrap">        
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
                <button type="button" id="btn" class ="specialbtnnn"onclick='recognition.start()'><i class="fa fa-microphone"></i></button>
              </div>
            </div>
          </div>

          <div class="advance-search">
            <span class="desc">SUGGESTIONS</span>
            <div class="row">
              <div class="input-field">
                <div class="input-select">
                  <select data-trigger="" id ="suggest" name="choices-single-defaul">
                  </select>
                </div>
              </div>
            </div>
          </div>


         </div>
        </div>
      </form>
    </div>
    <script src="static/js/extention/choices.js"></script>

  </body>
</html>
